<div class="mod-indicators-map" data-id="{{id}}" data-agency="{{agency}}" data-full="{{full}}" data-value="{{value}}" data-status="{{status}}" data-urgent="{{urgent}}">
  <article class="mod-indicators-content" style="background-color: {{color}}">
    <header class="mod-indicators-header">
      <div class="is-clearfix">
        <span class="mod-indicators-type icon icon-{{type}}"></span>
        <span class="mod-indicators-agency" data-agency="{{agency}}" style="color: {{color}}">{{agency}}</span>
        <span class="mod-indicators-frequency">{{frequency}} ({{date}})</span>
      </div>
      <h2>{{name}}</h2>
    </header>
    <div class="mod-indicators-value">
      <strong class="mod-indicators-value-item">{{displayValue}}</strong>
    </div>
    {{#if displayCurrentValue}}
      <div class="mod-indicators-footer sm-hidden">
        <table>
          <tr>
            <th>{{currentDate}}</th>
            <th>{{previousDate}}</th>
          </tr>
          <tr>
            <td>{{displayCurrentValue}}</td>
            <td>{{displayPreviousValue}}</td>
          </tr>
        </table>
      </div>
    {{/if}}
  </article>
</div>
