<div class="mod-infowindow">
  <a href="#close" class="icon icon-infowindow-close close"></a>
  <header class="mod-infowindow-header">
    <h2>{{name}}</h2>
  </header>
  <div class="mod-infowindow-content">
    <table>
      <td>
        <strong>%2$s</strong><br>
        {{#xif current}}{{commas current '%1$s'}}{{else}}-{{/xif}}
      </td>
      <td><strong>%3$s</strong><br>
        {{#xif previous}}{{commas previous '%1$s'}}{{else}}-{{/xif}}</td>
      <td class="mod-infowindow-value">
        {{#xif last_monthdayyear}}{{plus last_monthdayyear 'percentage'}}{{else}}-{{/xif}}
      </td>
    </table>
  </div>
</div>
