<div class="mod-infowindow">
  <a href="#close" class="icon icon-infowindow-close close"></a>
  <header class="mod-infowindow-header">
    <h2>{{name}}</h2>
  </header>
  <div class="mod-infowindow-content">
    <table>
      <td>
        <strong>%2$s</strong><br>
        {{#if current}}{{commas current '%1$s'}}{{else}}0{{/if}}
      </td>
      <td><strong>%3$s</strong><br>{{#if previous}}{{commas previous '%1$s'}}{{else}}0{{/if}}</td>
      <td class="mod-infowindow-value">
        {{#if last_monthdayyear}}{{plus last_monthdayyear}}{{else}}0&#37;{{/if}}
      </td>
    </table>
  </div>
</div>
